code {
   display: block;
   text-align: center;
   background: #5ea7b5;
   color: #fff;
   padding: 24px 15px;
   border-radius: 5px;
}

header,
section,
aside,
footer {
  margin: 0 1.5% 24px 1.5%;
}

.group:before,
.group:after {
   content: "";
   display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}

section {
  float: left;
  width: 63%;
}

aside {
  float: right;
  width: 30%;
}

footer {
  clear: both;
  margin-bottom : 0;
}
