/* * {
  height: 41px;
} */
code {
   display: block;
   text-align: center;
   background: #5ea7b5;
   color: #fff;
   padding: 24px 15px;
   border-radius: 5px;
}

header,
section,
aside,
footer {
  margin: 0 1.5% 24px 1.5%;
}

section {
  float: left;
  width: 63%;
}

aside {
  float: right;
  width: 30%;
}

footer {
  clear: both;
  margin-bottom : 0;
}
